<div class="container" style="padding: 20px;">
    <div class="card border-0">
        <div class="card-body">
            <h3 class="card-title"><%= @post.title %></h3>
            <p class="card-text"><%= @post.body %></p>
            <p class="card-text text-muted" style="font-size: small;">Posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user&.name || "[Deleted]" %></p>
                        <% if can?(:crud, @idea) %>
            <div class="form-inline">
                <div class="btn btn-outline-primary">
                <%= link_to "Edit", edit_post_path(@post) %>
                </div>
                <div class="btn btn-outline-primary">
                <%= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure?"} %>
                </div>
                <% end %>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title">Comment</h5>
            <div>
            <%= form_with model: [@post, @comment], local: true do |form| %>
                <%= form.text_area(:body, cols: 50, rows: 5, placeholder: "What's on your mind?") %>
            <div>
                <%= form.submit "Submit",  class: "btn btn-outline-primary" %>
            </div>    
            <% end %>
            </div>

            <div class="container">
            <ul>
                <% @comments.each do |comment| %>
                <li style="list-style-type: none; padding-top: 20px;">
                    <p class="card-text" style="margin: 0;">
                        <%= comment.body %>
                    </p>
                    <p class="card-text text-muted" style="font-size: small;">
                        Commented <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user&.name || "[DELETED]" %> 
                        <% if can?(:crud, comment) %>
                            &#8226; <%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?"} %>
                        <% end %>
                    </p>
                </li>
                <% end %>
            </ul>
            </div>
        </div>
    </div>
</div>
